* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 10px;
}

.container {
  margin: 5rem auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(239, 108, 51);
  background: linear-gradient(
    180deg,
    rgba(239, 108, 51, 1) 92%,
    rgba(225, 221, 219, 1) 100%
  );
}

.note__heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  color: #0c4a60;
}

.note__wrapper {
  width: 80%;
  display: flex;
  align-items: center;
}

.note__button {
  margin: 2rem 0;
  width: 15%;
  height: 3rem;
  font-size: 1.5;
  text-transform: uppercase;
  text-align: left;
  padding-left: 1rem;
  letter-spacing: 0.1rem;
  color: #0c4a60;
  cursor: pointer;
  background-color: #e1dddb;
}

.note__txt {
  margin-left: 0rem;
  width: 90%;
  height: 3rem;
  background-color: #e1dddb;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #0c4a60;
}

.notes {
  width: 80%;
}

.note__container {
  width: 100%;
  margin: 0.2rem 0;
  display: flex;
  height: 3.5rem;
  align-items: center;
  background-color: #e1dddb;
  position: relative;
}

.fa-eraser {
  margin: 0 1rem 0 0.5rem;
  font-size: 1.7rem;
  color: #0c4a60;
  cursor: pointer;
}

.note__input:checked + .note__txt {
  font-style: italic;
  text-decoration: line-through;
}

.note__edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ed7458;
  font-weight: 400;
  border-radius: 2rem;
  border: 0.2rem solid #ed7458;
  background-color: transparent;
  cursor: pointer;
}

.note__clear {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: #0c4a60;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.container--blur {
  filter: blur(1.5rem);
}

.note__edit {
  padding-right: 3rem;
  padding-left: 1rem;
  display: flex;
  width: 35%;
  height: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0.8;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem -0.2rem #fff;
  z-index: 10;
}
.note__input--edit {
  width: 100%;
  position: relative;
}



.note__btn--edit {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #0c4a60;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  
}

.note__edit--hidden{
  display: none;
}